<html>
    <head>
        <title>
            CollReachPosts
        </title>
        <link rel="icon" href="CollReach.PNG" type="image/x-icon">
    </head>
    <body>
        
        <!--CollReach Header-->

        <div class="header">
        <p>CollReach</p>
        <ul style="list-style-type:none;">
           <li><button type="button">HOME</button></li>
           <li><button type="button">INSTA</button></li>
           <li><button type="button">Codeganak</button></li>
           <li><button type="button">Profile</button></li>
        </ul>
        <button type="button">Search</button>
        </div>

        <!--CollReach Profile-->
        
        <div class="mid section">
            <div class="profile">
                <img src="profileimage.png" alt="Image not found">
                <h3>Ayush Chaudhry</h3>
                <p>Mail Icon+ayush.1822cs1038</p>
                <p>url icon + http://collreach.com/profil....</p>
                <button type="button">Edit Profile</button>
                <p><b><h3>Course Info.</h3></b></p>
                <p>B.Tech</p>
                <p>CSE</p>
                <p>SEM-5</p>

                    <!--POSTS-->
                    
                    <div class="announcement">
                    <img src="profileimage1-ConvertImage.ico" style="font-size:26px;">
                    <button type="button">New Announcement</button>
                    </div>
                    <div class="posts">
                        <img src="profileimage1-ConvertImage.ico" style="font-size:26px;"></img>
                        <h5>Ayush Chaudhry</h5>
                        <p>Today we went to firoz shah kotla to see dc vs rcb in which rcb won by 10 wickets.</p>
                        <img src="postDemo.png"style="width:400px;height:200px;"></img>
                        <p>star-668</p>
                        <p>Eye-2.3k</p>
                        <img src="profileimage1-ConvertImage.ico" style="font-size:26px;"></img>
                        <h5>Ayush Chaudhry</h5>
                        <p>Today we went to firoz shah kotla to see dc vs rcb in which rcb won by 10 wickets.</p>
                        <p>star-668</p>
                        <p>Eye-2.3k</p>
                        <img src="profileimage1-ConvertImage.ico" style="font-size:26px;"></img>
                        <h5>Ayush Chaudhry</h5>
                        <h3>Whom do you support?</h3>
                        <input type="button" value="option1" style="width:200px"><br><br>
                        <input type="button" value="option2" style="width:200px"><br><br>
                        <input type="button" value="option3" style="width:200px"><br><br>
                        <input type="button" value="option4" style="width:200px"><br><br>
                        <small>5 days left</small>
                        <small>1.5k votes</small>
                        <p>star-668</p>
                        <p>Eye-2.3k</p>
                        <img src="profileimage1-ConvertImage.ico" style="font-size:26px;"></img>
                        <h5>Ayush Chaudhry</h5>
                        <h3>Whom do you support?</h3>
                        Option1:
                        <progress id="file" value="20" max="100"> 20% </progress> 20% <br>
                        Option2:
                        <progress id="file" value="30" max="100"> 30% </progress> 30% <br>
                        Option3:
                        <progress id="file" value="45" max="100"> 45% </progress> 45% <br>
                        Option4:
                        <progress id="file" value="5" max="100"> 5% </progress> 5% <br>
                        <small>5 days left</small>
                        <small>1.5k votes</small>
                        <p>star-668</p>
                        <p>Eye-2.3k</p>
                    </div>
            </div>
        </div>
        
        <!--POST OVERLAY-->
        
        <div class="postOverlay">
            <img src="profileimage1-ConvertImage.ico" style="font-size:26px;"></img>
            <h2>Ayush Chaudhry</h2>
            <select name="viewrestriction" id="viewrestriction">
                <option value="" disabled selected hidden>VIEW RESTRICTION</option>
                <option value="department">Department</option>
                <option value="college">College</option>
            </select><br><br>
            <select name="validity" id="validity">
                <option value="" disabled selected hidden>VALIDITY PERIOD</option>
                <option value="1week">1 week</option>
                <option value="2week">2 weeks</option>
                <option value="3week">3 weeks</option>
                <option value="4week">4 weeks</option>
            </select><br><br>
            <select name="frequency" value="frequency">
                <option value="" disabled selected hidden>FREQUENCY</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select><br><br>
            <textarea id="caption" rows="4" cols="50" style="padding-left: 4px;" >
                Type here...
            </textarea><br><br>
            <button type="button">ADD IMAGE ICON</button><br><!--CAN BE INPUT IMAGE-->
            <p><small>OR CREATE POLL</small></p>
            <button type="button">Create Poll</button>
            <button type="button">POST</button>
        </div><br><br>
        
        <!--POLL OVERLAY-->
        
        <div class="pollOverlay">
            <img src="profileimage1-ConvertImage.ico" style="font-size:26px;"></img>
            <h2>Ayush Chaudhry</h2>
            <select name="viewrestriction" id="viewrestriction">
                <option value="" disabled selected hidden>VIEW RESTRICTION</option>
                <option value="department">Department</option>
                <option value="college">College</option>
            </select><br><br>
            <select name="validity" id="validity">
                <option value="" disabled selected hidden>VALIDITY PERIOD</option>
                <option value="1week">1 week</option>
                <option value="2week">2 weeks</option>
                <option value="3week">3 weeks</option>
                <option value="4week">4 weeks</option>
            </select><br><br>
            Question:<br>
            <input type="text" name="question" placeholder="What do you choose?" size="40" maxlength="150" required/><br>
            <small>Max 150 words</small><br>
            Option 1:<br>
            <input type="text" name="option1" placeholder="java" size="40" maxlength="50" required/><br>
            Option 2:<br>
            <input type="text" name="option2" placeholder="python" size="40" maxlength="50" required/><br>
            Option 3:<br>
            <input type="text" name="option3" placeholder="c++" size="40" maxlength="50" required/><br>
            Option 4:<br>
            <input type="text" name="option4" placeholder="c" size="40" maxlength="50" required/><br>
            <small>Max 50 words</small><br><br>
            <button type="button">POST</button>
        </div>
        </body>
</html>
