<!DOCTYPE html>
<html lang="en">
<head>
    <title>CollReach Chat</title>
    <meta charset="utf-8">
    <link rel="icon" href="static/CollReach.PNG" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="script/css/bootstrap.min.css" />


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src ="scripts/CollreachChat.js"></script>
    <link rel="stylesheet" href="style/CollreachChat.css" />

</head>
<body>
<h1>CollReach Chat</h1>
</body>
</html>