.{
	box-sizing: border-box;
}

.btn{
	color:#6C67FD
}
.btn:hover{
	background-color: #6C67FD;
}
#outer-nav-container{
	
}
.nav-bar{

	overflow: hidden;
	
	top: 0;
	width: 100%;
}
.navbar-expand-md .navbar-nav .nav-link{
	display: block;
	padding-right: 2rem;
	
}
/*.navbar-toggler{
	position: absolute;
	right: 5px;
	top: 20px;
*/

.navbar-brand{
	font-size: 2.0em;
	font-family: Verdana;
	font-weight: bold;
}
i{
	font-size: 1.6em;
}
#heading{
	background-color: #6C67FD;
	color: white;
	border-radius: 15px;
	padding: 5px;

}
/*container element*/
.container{
	
}
#postOverlay{
	display: none;
}
#pollOverlay{
	display: none;
}
.row {
  margin: auto;
  background: rgba(255, 255, 255);
  align-content: center;
  padding: 10px;
  overflow: auto;

}
.col-md-3{ 
	
	

	padding-right:1px;
}
.col-md-9{

	padding-left: 2px;
	width: 100%;
	padding-top: 4.5rem;
}


.profile-row{
	position: fixed;
	
	margin: auto;


	padding: 1rem;
	padding-top: 4rem;
}

/*side profile*/
#profile-pic{

	margin-left: 20%;
	width: 60%;
}
#profile-content .fa-envelope,#profile-content .fa-user{
	font-size: .9em;
}

#profile-content{
	margin: auto;
	padding-bottom: .9rem;
	padding-top: .7rem;
	
	overflow:auto;

}
#profile-content div span{
	display: inline-flex;
	vertical-align: middle;
}
#profile-content div .fas{
	line-height: 2;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#profile-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#profile-content{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#profile-name{
	text-align: center;
	font-size: 1.3em;
}
#edit-profile-btn{
	padding:3px;
	
	width: 100%;
	background-color: white;
	color:#6C67FD;
}
#course-info-title{
	margin-top: 10px;

	text-align: left;
	font-weight: bold;
	
}
.py-4{
	padding-top: 1px !important;
	font-size: 1.1em
}
.py-4 div{
	margin: auto;
	
}
#announcement-pic{
	
	width: 8%;
	height:100%;
	padding: .2rem;
}
#outer-post-box{
	padding-bottom: .4rem;
}
.profile-feed{
	border: 2px solid #8b8b8b;
	padding: .3rem;
	margin-bottom: .1rem: 
}
.profile-feed-item {

  padding: 0.5rem 0;
  border: 2px solid #8b8b8b;
}
.d-flex{
	margin: 1px;
}
#post-header{
	display: flex;
	align-items: center;

	border: 2px solid #8b8b8b;
	border-bottom: 0px;
	background-color: #b9b9b9;
	padding: .2rem;
	padding-left: .4rem;
	
}
.flex-row{
	padding-top: 0px;
}
#name{
	width: 100%;
	margin-left: 2px;
	font-size: 1.5em;
	
	padding: 5px;
}
.img-sm {
    width: 43px;
    height: 43px;
}
.fa-star-o{
	color: black;
	font-size: 2em;
}
.fa-star {
	color: yellow;

	font-size: 2em;
}



#a-btn{
	width: 88%;
}
#content{
	width: 100%;
	margin: auto;
	padding-bottom: 5px;
	/*border-bottom: 3px solid #aeaeae;*/

	
	overflow: auto;
}
.d-flex{
	margin: auto;
	padding: auto;
}
.ml-4,.p-2{
	width: 100%;
}
#caption{
	font-size: 1.2em;
	padding: 1rem;
	padding-top: 0px;
}

#post-img{
	position: relative;
	width: 100%;
}

#poll-options div input{
	margin: 2px;
	width: 98%
}
#poll-info small:first-child{
	float: left;
}
#poll-info small:last-child{
	float: right;
}
/*#poll-progress #progress-bar{
	width: 90%;

}*/

#reach{
	margin-top: 6px;
}
#icon{

vertical-align: middle;
}
#count{
	padding-bottom: 10px;
}


.progress-title{
    font-size: 1.2em;
    margin: 0 0 20px;
}
.progress{
    height: 7px;
    background: #f8f8f8;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}
.progress .progress-bar{
    box-shadow: none;
    border-radius: 0;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}
.progress .progress-bar:before,
.progress .progress-bar:after{
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: -6px;
    right: 16px;
    transform: rotate(45deg);
}
.progress .progress-bar:after{
    border: 4px solid #fff;
    position: absolute;
    right: 2px;
}
.progress.red .progress-bar:before,
.progress.red .progress-bar:after{
    outline: 4px solid #ef5b5b;
}
.progress.red .progress-bar:after{
    background: #ef5b5b;
}
.progress.yellow .progress-bar:before,
.progress.yellow .progress-bar:after{
    outline: 4px solid #ffc116;
}
.progress.yellow .progress-bar:after{
    background: #ffc116;
}
.progress.blue .progress-bar:before,
.progress.blue .progress-bar:after{
    outline: 4px solid #20a39e;
}
.progress.blue .progress-bar:after{
    background: #20a39e;
}
.progress.green .progress-bar:before,
.progress.green .progress-bar:after{
    outline: 4px solid #7cb518;
}
.progress.green .progress-bar:after{
    background: #7cb518;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}

/*media queries start*/
@media (max-width: 360px) and (min-width: 0px) {
	.navbar-brand{
	font-size: 1.1em;
}
	#announcement-pic{
		width: 15%;
	}
	#a-btn{
		width: 80%;
	}
	
}

@media (max-width: 1199px) and (min-width: 991px) {
	.profile-row{
		width: 13rem;
	}
}
@media (max-width: 990px) and (min-width: 768px) {
	.profile-row{
		width: 10rem;
	}
}

.navbar-toggler{
	font-size: 1.1em;
	padding: .2em;
}

	}
@media (min-width: 768px) {



}




@media (min-width: 575px){
	#info{
	display: none;
	font-size: 16px;
}
	
}
/*For mobile*/
@media (max-width: 768px){

.col-md-3{
	display: none;
	}
.col-md-9{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 5rem;
}
.container{
	
	margin: auto;
	padding: .1rem;
}
.row {
  margin: 1px;
  background: rgba(255, 255, 255);
  align-content: center;
  padding: 1px;
  overflow: auto;

}

	

}
#content{
	width:95%;
}

#search{

	
}


}

