* {
  box-sizing: border-box;
  
}
.main-content {
 
  padding-bottom: 8rem;
 
  
}
/* .container {

}
.sidebar-outer {

  position: relative;
}
.fixed {
  position: fixed;
} */


#logout-btn{
  position: relative;
  
  float:right;
 
  
  margin-left: .5rem;
  
}
.card{
  margin-bottom: .4rem;
}
.card-title{
  font-size: 1.2em;
}

.pad-top{
  padding-top: 4.5rem;
}
#updatebutton{
  padding: 3px;

  width: 100%;
  background-color: white;
  color: #6c67fd;
}

footer{
  position: fixed;
  width: 100%;
  bottom:0;

}
.footer{
  text-align: center;
    
}
.footer .row{
  width: 50%;
}

/*----Skills cloud----*/

ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.75rem;
  width: 450px;
}

ul.cloud a {
  /*   
  Not supported by any browser at the moment :(
  --size: attr(data-weight number); 
  */
  --size: 4;
  --color: #a33;
  color: var(--color);
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  display: block;
  padding: 0.125rem 0.25rem;
  position: relative;
  text-decoration: none;
  /* 
  For different tones of a single color
  opacity: calc((15 - (9 - var(--size))) / 15); 
  */
}

ul.cloud a[data-weight="0"] { --size: 3; }
ul.cloud a[data-weight="1"] { --size: 3; }
ul.cloud a[data-weight="2"] { --size: 4; }
ul.cloud a[data-weight="3"] { --size: 4; }
ul.cloud a[data-weight="4"] { --size: 5; }
ul.cloud a[data-weight="5"] { --size: 5; }
ul.cloud a[data-weight="6"] { --size: 6; }
ul.cloud a[data-weight="7"] { --size: 6; }
ul.cloud a[data-weight="8"] { --size: 7; }
ul.cloud a[data-weight="9"] { --size: 7; }
ul.cloud a[data-weight="10"] { --size: 8; }
ul.cloud a[data-weight="11"] { --size: 8; }
ul.cloud a[data-weight="12"] { --size: 9; }
ul.cloud a[data-weight="13"] { --size: 9; }
ul.cloud a[data-weight="14"] { --size: 10; }
ul.cloud a[data-weight="15"] { --size: 10; }
ul.cloud a[data-weight="16"] { --size: 11; }
ul.cloud a[data-weight="17"] { --size: 11; }
ul.cloud a[data-weight="18"] { --size: 12; }
ul.cloud a[data-weight="19"] { --size: 12; }
ul.cloud a[data-weight="20"] { --size: 13; }
ul.cloud a[data-weight="21"] { --size: 13; }
ul.cloud a[data-weight="22"] { --size: 14; }
ul.cloud a[data-weight="23"] { --size: 14; }
ul.cloud a[data-weight="24"] { --size: 15; }
ul.cloud a[data-weight="25"] { --size: 15; }
ul.cloud a[data-weight="26"] { --size: 16; }

ul[data-show-value] a::after {
  content: " (" attr(data-weight) ")";
  font-size: 1rem;
}

ul.cloud li:nth-child(2n+1) a { --color: #181; }
ul.cloud li:nth-child(3n+1) a { --color: #33a; }
ul.cloud li:nth-child(4n+1) a { --color: #c38; }

ul.cloud a:focus {
  outline: 1px dashed;
}
/* 
ul.cloud a::after{
  font-size: 10px;
}  */

ul.cloud a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

ul.cloud a:focus::before,
ul.cloud a:hover::before {
  width: 100%;
}

@media (prefers-reduced-motion) {
  ul.cloud * {
    transition: none !important;
  }
}

/*------Skills cloud ends*/

@media (max-width: 768px)  { 
  .footer .row{
    width: 100%;
  }
  footer{
    position: static;
  }
}
/* .container{
  margin: auto;
}
.fixed{
  position:fixed ;
}
.logo{
 
  
}
.items{
 
}
.navbar{
  
}
.navbar-brand{
	font-size: 2.0em;
	font-family: Verdana;
	font-weight: bold;
}

#heading{
	background-color: #6C67FD;
	color: white;
	border-radius: 15px;
	padding: 5px;

}

.row{
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 10px;
}
.row:first-child{
  width: 68rem;
} */


































/* section {
  margin: 3px;
}
section p{

}
body {
  background-color: #e2dbe2;
}
.container-fluid {
  padding-top: 3%;
  background-color: #f7f5f7;
  border-radius: 20px;
}

.input-group #search-items{
  display: block;
 
  margin:2px;
  background-color: white;
  color: white;
  padding: 5px;
  overflow: auto;
  border-radius: 20px;
  box-shadow:  0px 0px 1px 1px #7b9c9c;
}

.input-group .skill-item{
  display: block;
  background-color: #46A7D8;
  padding-left: 10px;
  padding-right: 2px;
  margin: 5px;
  
  border-radius: 20px;


}

.input-group .skill-item-cross{
  font-size: 10px;
  cursor: pointer;
  color:black;
  width: 100%;
 padding: 1px;
  
}
 
#search-box{
  clear: right;
  float: left;
  width: 60%;
  font-size: 10px;

}
#search-btn{
  float: none;
  border-radius: 10px;

}


----Overlay-styles-----

#search-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 200;
  overflow: scroll;
}

#overlay-content{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#overlay-close{
  color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

----overlay-styles ends-----




h2 {
  font-family: Goudy Stout;
  text-align: left;
  padding-left: 5%;
  text-shadow: 0 0 3px #1dadca;
}
#heading {
  border-radius: 15px;
}
section div {
  font-size: 1.2em;
  font-style: italic;
  position: relative;
  float: right;
  bottom: 15px;
  right: 10px;
  text-shadow: 0 0 3px #24ffe3;
}
#main-title {
  box-shadow: 0px 0px 5px 5px #7b9c9c;
}

.card-title {
  position: relative;
  margin: 0px;
  padding: 10px;
  background-color: #406d94;
  color: white;
  font-family: Copperplate Gothic Bold;
}

.card {
  position: relative;
  padding: 0px;
  margin: 2px;
  overflow: auto;
  border-color: #5797d0;
  border-radius: 18px;
  margin-bottom: 10px;
  text-align: center;
  border-left: 5px solid #68aeec;
  border-right: 5px solid #68aeec;
}
.card:hover {
  box-shadow: 0px 0px 5px 5px #7b9c9c;
  font-size: 1em;
}
#no-border {
  border: none;
}
#no-border:hover {
  box-shadow: none;
}

.row {
  margin: 20px;
  margin-right:8.5%; 
  margin-left:8.5%;
  background: rgba(255, 255, 255);
  align-content: center;
  padding: 10px;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 10px #838383;
  border-left: 10px solid #132b65;
  border-right: 10px solid #132b65;
}

#kietEmail {
  font-size: 2em;
  text-decoration: underline;
  text-shadow: 0px 0px 2px #11a3e1;
  padding: 10px;
  text-align: center;
}
#name {
  margin: auto;
  text-transform: uppercase;
  margin-top: 11%;
  font-size: 3.7em;
  font-weight: 600;
  text-shadow: 2px 2px 6px #3b11e1;
}
#description {
  margin-top: 15px;
  border: 1px dashed #5797d0;
  border-radius: 18px;
}
div > p {
  margin: auto;
  font-family: Brush Script MT;
  font-size: 1.3em;
  position: relative;
  float: left;
  left: 10px;
  top: -10px;
}

.col-md-12 {
  padding: 0px;
}
.content {
  padding: 10px;
  font-family: comic sans ms;
}

#updatebutton {
  position: relative;
  border-radius: 20px;
  float: right;
  background-color: #0077ff;
}
.btn {
  position: relative;
  margin: 2px;
  width: 30%;
  float: right;

  border: 0px;
  border-radius: 20px;
}
#updatebutton:hover {
  transform: scale(1);
}
.btn-primary {
  background-color: #85c6aa;
}

table {
  position: relative;
  width: 100%;
}
td {
  width: 50%;
}
#updatebutton:hover {
  font-size: 0.9em;
}

#updatebutton:hover {
  transform: scale(1.1);
}
.custom-file-input{

direction: rtl;
float: left;
}
.custom-file-label{
  float: left;
  width: 130px;
}
.custom-file{
  float: right;
  width: 20%;
}

#set-profile-photo,#cancel-profile-picture{
  width: 30px;
  border-radius: 60px;
  padding: 2px;
}

#search-items{
  font-size: 0.6em;
 
}
.skill-item-cross{
  font-size: 0.6em;
}


@media (min-width: 721px){
  .custom-file{
  
  width: 90px;
}
  #profile-photo {
  margin: auto;
  border-radius: 120px;
  width:100%;
  
}
}

@media (max-width: 720px) {
  .custom-file{
  width: 90px;
  }
  #kietEmail {
    font-size: 1.4em;
    text-align: center;
  }

  #name {
    margin: auto;
    text-transform: uppercase;
    margin-top: 14%;
    font-size: 2.4em;

    text-shadow: 2px 2px 6px #3b11e1;
  }

  img {
    width: 70%;
    margin: auto;
  }

  .row {
    margin-right: 10px;
    margin-left: 10px;
  }
  #updatebutton {
    margin: auto;
    padding: 10px;
    width: 40%;
    font-size: 1em;
  }

     #logout-btn{
  position: relative;
  float:right;
  width: 10%;
  border-radius: 13px;
  margin-right: 1%;
  margin-bottom: 1%;
   }
   h2{
    text-align: center;
   }
    #profile-photo{
      width: 250px;
  }
}


@media (max-width: 768px) and (min-width: 721px) {
   #profile-photo{
      width: 200px;
  }

}

@media (max-width: 1080px) and (min-width: 721px) {
  #name {
    font-size: 3em;
  }

}

@media (min-width: 1081px) and (max-width: 1920px) {
  #updatebutton:hover {
    transform: scale(1.1);
  }

} */


/* already commented items below overlay close */

/*
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*//*
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*//*
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*//*
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
} */
